<ion-header>
  <ion-navbar (click)="open_page(2)">
    <ion-title>
      PROJECT UNKNOWN!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="feedkey==false" text-wrap>
    Please Enter your details to continue!
    <button ion-button color="danger" (click)="open_page(1)">Enter Details ->></button>
  </ion-item>

  <ion-item *ngIf="feedkey==true" text-wrap>
    <strong>My Details</strong><br/>
    Name : {{data.name}}<br/>
    Age : {{data.age}}<br/>
    Mobile : {{data.mynumber}}<hr/>
    <strong>Emergency Contacts</strong><br/>
    Gurdian 1 : {{data.e1_name}}<br/>
    Mobile : {{data.e1_num}}<hr/>
    Gurdian 2 : {{data.e2_name}}<br/>
    Mobile : {{data.e2_num}}<hr/>
    <strong>More Details</strong><br/>
    {{data.moredet}}
  </ion-item>
{{testmessage}}
</ion-content>
