<ion-header  >
  <ion-navbar color="primary" >
    <ion-title  color="primary">
      PRO_UK
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="bg" style="padding:0px;" >
  <div class="app_help_info" *ngIf="help_info_app[0]">
    <div id="help_slide1" *ngIf="help_info_app[1]==1">
      <span style="display: block; position: absolute; bottom: 20%;left:20%; color:yellow;text-align: center">
        click once to alert notifications only<br/>
        click twice to alert all ways and start call<br/><br/>
        <ion-badge (click)="next_app_info_help(1)" item-end>Next</ion-badge>
      </span>
    </div>

    <div id="help_slide1" *ngIf="help_info_app[2]==1">
      <span style="display: block; position: absolute; top: 40%;left:20%; color:yellow;text-align: center">
        click twice to call AMBULANCE.<br/><br/>
        <ion-badge item-end (click)="next_app_info_help(2)" style="background-color: blue">Next</ion-badge>
      </span>
    </div>

    <div id="help_slide1" *ngIf="help_info_app[3]==1">
      <span style="display: block; position: absolute; top: 40%;left:20%; color:yellow;text-align: center">
        click twice to call FIRE station.<br/><br/>
        <ion-badge item-end (click)="next_app_info_help(3)" style="background-color: blue">Next</ion-badge>
      </span>
    </div>

    <div id="help_slide1" *ngIf="help_info_app[4]==1">
      <span style="display: block; position: absolute; top: 40%;left:20%; color:yellow;text-align: center">
        click twice to call POLICE station.<br/><br/>
        <ion-badge item-end (click)="next_app_info_help(4)" style="background-color: blue">Next</ion-badge>
      </span>
    </div>

    <div id="help_slide1" *ngIf="help_info_app[5]==1">
      <div>
        <div style="display:block; position: absolute; bottom: 4%; left: 20%;width:1%; border: 2px dotted yellow; height: 20%; background-color: transparent"></div>
        <div style="display:block; position: absolute; bottom: 24%; left: 20%; background-color: transparent; color: yellow">
          Your Emergency dashboard.
        </div>

        <div style="display:block; position: absolute; bottom: 4%; right: 20%;width:1%; border: 2px dotted yellow; height: 30%; background-color: transparent"></div>
        <div style="display:block; position: absolute; bottom: 35%; right: 20%; background-color: transparent; color: yellow">
          Your Profile.
        </div>
      </div>
      <br/><br/>
        <ion-badge item-end (click)="next_app_info_help(5)" style="display: block; position: absolute; top: 45%; left: 30%; background-color: blue">Ok, Got it!</ion-badge>

    </div>

  </div>
<ion-grid id="mar">
    <ion-row>
        <ion-col col-1 id="mar">
        </ion-col>

        <ion-col col-10 id="mar" [class]="sos_classname">
            <ion-card id="alert_but">
                <ion-card-content style="padding: 0%;">
                    <button ion-button clear large class="but" (click)="sos_press()">
                        <div style="margin: 0%;padding: 0%;display: inline-block;position:relative">
                        <img src="../../assets/icon/6c645a249d.png" style="display: block">
                        <h1>S.O.S</h1>
                        </div>
                    </button>

                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col col-1 id="mar">
        </ion-col>
    </ion-row>
</ion-grid>

         <ion-grid>
            <ion-row class="alternate">
                <ion-col col-4>
                    <button ion-button large class="but1" [class]="em_classname_0" (click)="emergency_call(0)">
                        <img src="../../assets/imgs/attachments/amb_but.svg" class="size_but_alter"/>
                    </button>
                </ion-col>

                <ion-col col-4>
                    <button ion-button large class="but1" [class]="em_classname_1" (click)="emergency_call(1)">
                        <img src="../../assets/imgs/attachments/firetruck_but.svg" class="size_but_alter"/>
                    </button>
                </ion-col>

                <ion-col col-4 >
                    <button ion-button large class="but1" [class]="em_classname_2" (click)="emergency_call(2)">
                        <img src="../../assets/imgs/attachments/pol_but1.svg" class="size_but_alter"/>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 >
                   <!--> <h5 style="color: darkgray;font-size: 13px">
                   Note: Your are responsible for the calls you make. We take no responsiblity of further actions.
                </h5><!-->
                </ion-col>
            </ion-row>
        </ion-grid>

<div class="arrow bounce" (click)="scrollToBottom()" ><img src="../../assets/imgs/down-arrow.svg"></div>

<ion-slides>
    <ion-slide>

        <!-- card of localization>
        <below!-->
        <ion-card id="cards" >
           <ion-card-header id="card_head" style="text-align: left;padding:2%;margin-left: 12%;margin-top: 2%; border-radius: 50px;border-style: solid;width:fit-content;border-color:#318F62;border-width:medium;font-size: 1.4rem;">
               Localization
            </ion-card-header>

            <ion-card-content style="text-align: left;padding:2%;margin-bottom: 0%">
                <ion-grid style="padding: 0%;margin: 0%">
                    <ion-row>
                        <ion-col col-2>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x fa-3x" style="color:#318F62;" ></i>
                                <i class="fa fa-wifi fa-stack-1x fa-inverse " ></i>
                            </span>
                        </ion-col>
                        <ion-col col-8>
                            <p >
                                Connect to your wifi to broadcast alert...
                            </p>
                        </ion-col>
                        <ion-col >
                            <ion-toggle style="position: absolute" color="localization">
                            </ion-toggle>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>


        <!-- card of group>
        <below!-->
        <ion-card id="cards" >
           <ion-card-header id="card_head" style="text-align: left;padding:2%;margin-left: 12%;margin-top: 2%; border-radius: 50px;border-style: solid;width:fit-content;border-color:	#45A9CC;border-width:medium;font-size: 1.4rem;">
               Group
            </ion-card-header>

            <ion-card-content style="text-align: left;padding:2%">
                <ion-grid style="padding: 0%;margin: 0%">
                    <ion-row>
                        <ion-col col-2>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x fa-3x" style="color:	#45A9CC;"></i>
                                <i class="fa fa-group fa-stack-1x fa-inverse " ></i>
                            </span>
                        </ion-col>
                        <ion-col col-10>
                            <p >
                                Create group to send alert messages...
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

                <!-- card of wear>
        <below!-->
        <ion-card id="cards" >
           <ion-card-header id="card_head" style="text-align: left;padding:2%;margin-left: 12%;margin-top: 2%; border-radius: 50px;border-style: solid;width:fit-content;border-color:	#503DCE;border-width:medium;font-size: 1.4rem;">
               Wearable
            </ion-card-header>

            <ion-card-content style="text-align: left;padding:2%">
                <ion-grid style="padding: 0%;margin: 0%">
                    <ion-row>
                        <ion-col col-2>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x fa-3x" style="color:	#503DCE;"></i>
                                <i class="fa fa-tv fa-stack-1x fa-inverse " ></i>
                            </span>
                        </ion-col>
                        <ion-col col-10>
                            <p >
                                Connect smart band and ...
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-slide>
</ion-slides>
<!div id="sub_content">
<!--ion-card id="mar_alternate">
    <ion-card-header id="head">
        Call-alternate
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row class="alternate">
                <ion-col col-4>
                    <button ion-button clear large class="but1">
                        <img src="../../assets/imgs/attachments/amb_but.svg" class="size_but_alter"/>
                    </button>
                </ion-col>

                <ion-col col-4>
                    <button ion-button clear large class="but1">
                        <img src="../../assets/imgs/attachments/firetruck_but.svg" class="size_but_alter"/>
                    </button>
                </ion-col>

                <ion-col col-4 >
                    <button ion-button clear large class="but1">
                        <img src="../../assets/imgs/attachments/pol_but1.svg" class="size_but_alter"/>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 >
                    <h5 style="color: darkgray;font-size: 13px">
                   Note: Your are responsible for the calls you make. We take no responsiblity of further actions.
                </h5>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card!-->

        <!--ion-slides >
            <ion-slide style="margin-top:0%;">
                <ion-card id="mar_alternate">
                    <ion-card-header id="head">
                        Suggestions
                    </ion-card-header>
                    <ion-card-content>
            bhjskld sbhjkdxlkmns sbjkxmnzsmx bsznhjxksnj sbjsbhjskld
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide >
            <ion-card id="mar_alternate">
                    <ion-card-header id="head">
                        Suggestions
                    </ion-card-header>
                    <ion-card-content>
            bhjskld sbhjkdxlkmns sbjkxmnzsmx bsznhjxksnj sbjsbhjskld
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides!-->
<!/div>



</ion-content>
